<%- include("partials/header")%>

<h1  style="color: #1abc9c; display: flex;"><%= keyTitle%></h1>
<p style="padding-top: 15px;"><%= keyContent %></p>
<p style="font-weight: 500; color: black; font-size: 1.25rem; text-align: right; padding-right: 15px;">- <%= keyAuthor %></p>


<form class="" action="/back" method="post">
  <button class="btn btn-danger" type="submit" name="button">Back</button>
</form>
<%- include("partials/footer")%>
